{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}


{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">{{ article.title }}</h1>
        </div>

        <div class="row">
            <p class="text-center col-12">
                <a class="text-decoration-none" href="{{ path('blog_publication_list') }}">Retour liste des articles</a>
            </p>
        </div>

        <div class="row">

            <div class="col-12 col-md-8 offset-md-2">

                <div class="card my-2 bg-black">

                    <div class="card-body">

                        <footer class="blockquote-footer mt-0 mb-4">Publié le <strong class="text-light">{{ article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong class="text-light">{{ article.author.pseudonym }}</strong></footer>

                        <div class="mb-2">
                            {{ article.content|purify }}
                        </div>

                        {% if is_granted('ROLE_ADMIN') %}

                            <p class="mb-0 mt-3">

                                <a href="{{ path('blog_publication_edit', {'id': 'article.id'}) }}" class="text-warnig me-3 text-decoration-none">
                                    <i class="fas fa-edit me-1">modifier</i>
                                </a>

                                <a onclick="return confirm('Etes vous sur de vouloir supprimer cette publication ?')" class="text-decoration-none text-danger" href="{{ path('blog_publication_delete', {'id': article.id, csrf_token: csrf_token('blog_publication_delete_' ~ article.id ) }) }}"><i class="fas fa-trash-alt me-1"></i>Supprimer</a>
                            </p>

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-12 col-md-8 offset-md-2">
                <div class="bg-black p-4 my-4">
                    <h2 class="text-center mb-5">Commentaires ({{ article.comments|length }})</h2>

                    {% for comment in article.comments %}

                        <div class="card my-3 bg-dark">
                            <div class="card-body row">

                                {# Affichage de la photo de profil de l'auteur, ou de la photo par défaut s'il n'en pas #}
                                <div class="px-0 mx-2 d-flex justify-content-center align-items-center comment-profil-photo bg-black">

                                    {% if comment.author.photo is null %}
                                        <img class="img-fluid" src="{{ asset('images/profil_default.jpg')|imagine_filter('comment') }}" alt="">
                                    {% else %}

                                        <img class="img-fluid" src="{{ asset('images/profils/' ~ comment.author.photo )|imagine_filter('comment') }}" alt="">

                                    {% endif %}

                                </div>

                                {# Affichage de la date de publication du commentaire et du pseudo de son auteur #}
                                <div class="col-12 col-sm mt-2 mt-sm-0">
                                    <footer class="blockquote-footer mt-0 mb-4">Ajouté par <strong class="text-light mr-1">{{ comment.author.pseudonym }}</strong>
                                        <br class="d-sm-none">Le <strong class="text-light">{{ comment.publicationDate|date('d/m/Y à H\\hi') }}</strong></footer>
                                    <p>{{ comment.content|nl2br }}</p>
                                </div>

                            </div>
                        </div>

                    {% else %}
                        <p class="text-center alert alert-warning">Aucun commentaire n'a été publié pour le moment.</p>
                    {% endfor %}



                    {% if app.user %}

                        <h2 class="text-center mb-5">Ecrire un commentaire</h2>
                        {{ form(form) }}

                    {% else %}

                        <p class="text-center text-info mt-4">
                            vous devez <a href="{{ path('app_login') }}"> vous connecter</a> pour laisser un commentaire
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
